################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/projet/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/projet/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.AssemblyReference.cache
/projet/ConsoleApp1/obj/Debug
